<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>Navegación</h3>
            <ul class="footer-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/quienes-somos">Quienes Somos</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/categorias">Categorías</a></li>
                <li><a href="/contactanos">Contáctanos</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Categorías</h3>
            <ul class="footer-links">
                <li><a href="/categorias/computadores">Computadores</a></li>
                <li><a href="/categorias/perifericos">Periféricos</a></li>
                <li><a href="/categorias/accesorios">Accesorios</a></li>
                <li><a href="/categorias/redes">Redes</a></li>
                <li><a href="/categorias/software">Software</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Contacto</h3>
            <ul class="contact-info">
                <li><i class="fas fa-map-marker-alt"></i> Cl. 41 D sur #62-49, San Antonio de Prado, Medellín</li>
                <li><i class="fas fa-phone"></i> 3126421560</li>
                <li><i class="fas fa-envelope"></i> solucionestecnologicaspradito@gmail.com</li>
                <li><i class="fas fa-clock"></i> Lunes a Viernes: 10:00 AM - 7:00 PM</li>
                <li><i class="fas fa-clock"></i> Sábado: 10:00 AM - 3:00 PM</li>
                <li><i class="fas fa-clock"></i> Domingo: Cerrado</li>
            </ul>
        </div>

     
            <div class="social-links">
                <a href="https://www.facebook.com/people/solucionestecnologicaspradito/100063951556990/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/solucionestecnologicaspradito/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://api.whatsapp.com/send?phone=573126421560" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 Soluciones Tecnológicas Pradito. Todos los derechos reservados.</p>
    </div>
</footer>